/Medwork/Medwork.dbmdl
/Medwork/Medwork.jfm
/Medwork/bin/Debug/Medwork.dll
/Medwork/bin/Debug/Medwork.pdb
/Medwork/bin/Debug/Medwork.dacpac
/Medwork/obj/Debug/Medwork.dll
/Medwork/obj/Debug/Medwork.pdb
/Medwork/obj/Debug/Medwork.sqlproj.FileListAbsolute
/Medwork/obj/Debug/Model.xml
/.vs/Medwork/v15/.suo
